{
  "bracketSpacing": true,
  "trailingComma": "all",
  "plugins": [],
  "eslintIntegration": true,
  "printWidth": 100,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false
}
